.addBtn{
  background-color:  #6E2CF4;
}
.card-img-overlay{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8715861344537815) 40%, rgba(255,255,255,0.3113620448179272) 92%);
}
