.addBtn{
  background-color:  #6E2CF4;
}
.card-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px auto;
  margin: 0;
}
