<h1 class="text-white">Accedi</h1>
<form class="p-4 p-md-5  rounded-3 viola">
  <div class="form-floating mb-3">
    <input type="email" [(ngModel)]="login.email" class="form-control" name="email" placeholder="inserisci l'email">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" [(ngModel)]="login.password" class="form-control" name="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Ricordami
    </label>
  </div>
  <button class="w-100 btn btn-lg bottone text-white" (click)="signIn()">Accedi</button>
</form>
