@mixin flex {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-top: 25px ;
}
@mixin flex2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

@mixin container{
    width: 1190px;
    margin: 0 auto;
    height: 100%;
}
@mixin img {
    width: calc(100% / 2);
    position: relative;
    bottom: -50px;
    border-radius: 5px;
}
@mixin aside {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

