body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    margin: 20px;
}

#header{
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    padding: 30px 0;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.logo{
    width: 180px;
    margin-bottom: 20px;
}

.titolo{
    margin-bottom: 20px;
}
#menu a{
    color: #fff;
    text-decoration: none;
}
#menu a{
    color: #fff;
    text-transform: uppercase;
}
#menu a::before{
    content:"⇒ ";
}
#menu a::after{
    content:" ⇐";
}
#menu li{
    margin-bottom: 10px;
}
.main{
    background: #fff;
}
.main{
    margin-bottom: 20p;
}
.titolo1{
    font-size: 20px;
    font-weight: 700;
    line-height: 4;
    
}
