/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
body{
  background: rgb(110,44,244);
  background: linear-gradient(180deg, rgba(110,44,244,1) 36%, rgba(255,255,255,0.3113620448179272) 100%);
  min-height: 100vh;
}
