<div class="container">
  <div class="text-center mb-5 bg-black">
    <img src="../../../assets/img/logo.jpg" alt="">
    <h1>Benvenuto nel nostro autosalone</h1>
  </div>

  <div class="row align-items-center mb-5">
    <h2 class="text-center">I Nostri Marchi</h2>
    <div class="col-4 text-center">
      <img src={{autoArr[4].brandLogo}} class="img-fluid" width="400">
    </div>
    <div class="col-4 text-center">
      <img src={{autoArr[0].brandLogo}} class="img-fluid" width="250">
    </div>
    <div class="col-4 text-center">
      <img src={{autoArr[8].brandLogo}} class="img-fluid" width="300">
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5 col-lg-6 mb-md-5 "*ngFor="let auto of randomAutoArr">
      <div class="card bg-black">
        <img src={{auto.modelImage}} class="card-img-top altezza">
        <div class="card-body">
          <h5 class="card-title text-white">{{auto.brand}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-black border-top">Modello: {{auto.model}}</li>
          <li class="list-group-item bg-black">Anno: {{auto.year}}</li>
          <li class="list-group-item bg-black border-bottom">Prezzo: {{auto.price | currency:'EUR'}}</li>
        </ul>
        <div class="card-body">
          <button routerLink="/{{auto.brand}}" class="btn btn-secondary">Mostra Marca</button>
        </div>
      </div>
    </div>
  </div>
</div>
