<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center mb-5">Benvenuto in Ford</h2>
    <div class="col-6 text-center">
      <img src={{fordArr[0].brandLogo}} class="img-fluid" width="400" />
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12 mb-5 col-lg-3 col-md-6" *ngFor="let ford of fordArr">
      <div class="card bg-black">
        <img src={{ford.modelImage}} class="card-img-top" height="210">
        <div [ngClass]="{'bg-success': ford.available, 'bg-danger': !ford.available}" class="card-body">
          <h5 class="card-title text-white">{{ford.model}}</h5>
          <p class="card-text text-white">Anno: {{ford.year}}</p>
          <p class="card-text text-white">Prezzo: {{ford.price | currency: 'EUR'}}</p>
          <p class="card-text text-white" *ngIf="ford.available; else isNotAvailable">disponibile</p>
          <ng-template #isNotAvailable><p class="card-text text-white">Non disponibile</p></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
