
<div class="row">
  <div *ngIf="auto != undefined" class="col-6"><div class="card">
    <img [src]="[auto.modelImage]" class="card-img-top" alt="...">
    <div [ngClass]= "{ 'bg-success': auto.available, 'bg-danger' : !auto.available}" class="card-body">
      <h5 class="card-title">{{auto.model}}</h5>
      <p class="card-text">{{auto.brand}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Prezzo: {{auto.price | currency:'eur'}} </li>
      <li class="list-group-item">Anno : {{auto.year}}</li>
      <li *ngIf="auto.available; else isNotAvaible" class="list-group-item">Modello disponibile</li>
      <ng-template #isNotAvaible><li class="list-group-item">Modello non disponibile</li></ng-template>
    </ul>
  </div>
</div>
