<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <img src={{fiatArr[0].brandLogo}} class="img-fluid" width="280" />
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-3" *ngFor="let fiat of fiatArr">
      <div class="card">
        <img src={{fiat.modelImage}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{fiat.model}}</h5>
          <p class="card-text">{{fiat.price | currency: 'EUR'}}</p>
          <a href="#" class="btn btn-primary">verifica disponibilità</a>
        </div>
      </div>
    </div>

  </div>
</div>
