<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center mb-5">Benvenuto in Audi</h2>
    <div class="col-6 text-center">
      <img src={{audiArr[0].brandLogo}} class="img-fluid" width="400" />
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12 mb-5 col-lg-3 col-md-6" *ngFor="let audi of audiArr">
      <div class="card">
        <img src={{audi.modelImage}} class="card-img-top" height="220">
        <div [ngClass]="{'bg-success': audi.available, 'bg-danger': !audi.available}" class="card-body">
          <h5 class="card-title text-white">{{audi.model}}</h5>
          <p class="card-text text-white">Anno: {{audi.year}}</p>
          <p class="card-text text-white">Prezzo: {{audi.price | currency: 'EUR'}}</p>

        </div>
      </div>
    </div>#
  </div>
</div>
