
/*HEADER*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
    
}
.header{
    padding: 15px;
    background-color: #FFC017;
    border-bottom: 2px solid black;
    width: 100%;
    transition: background-color 1s, white 1s;
    
}
header img {
    margin-left: 4rem;
}
.container-header{
    display: flex;
    justify-content: space-between;
    margin-right: 65px;
   
}
.navbar {
    display: flex;
    align-items: center;    
    gap: 30px;
}
.navbar a {
    text-decoration: none;
    color: black;
} 
.button-black {
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: bold;
    border: none;
}  
/*MAIN TITLE*/
.conteiner-title {
    display: flex;
    justify-content: center;
    background-color: #FFC017;
    
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    margin-left: 3.5rem
}
.title h1 {
    font-size: 110px;
    font-weight: 500;
}
.title p {
    font-size: 30px;
}
.black {
    padding: 9px 58px;
    font-size: 20px;
}
/*MAIN TRENDING*/

.trending {
    display: flex;
    align-items: center;
    margin-left: 5.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    gap: 89px;
    align-content: stretch;
    margin-left: 70px;
    
    
}
.numero {
    display: flex;
}
.img-text {
    display: flex;
    
    flex-wrap: wrap;
    align-items: center
}
.container-trending img {
    width: 20px;
}
.container-trending h2 {
    font-weight: bold;
    opacity: 0.1;
    font-size: 40px;
    text-align: center;
}
.container-trending a {
    text-decoration: none;
    color: black;
}
.container-trending h3{
    font-weight: bold;
    padding-top: 10px;
}
.container-trending p {
    opacity: 0.4;
    padding-top: 10px;
}
/*container all*/
.container-all {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 100px;
}
.container-discover-see-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    position: sticky;
    height: fit-content;
    top: 100px;
    
   
}
/* container scroll*/
.container-scroll {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 5.5rem;
}
.container-scroll h3 {
    font-weight: bold;
    font-size: 25px;
}
.container-scroll p {
    font-size: 17px;
    opacity: 0.7;
}
.container-scroll a {
    text-decoration: none;
    color: black;
}
.position-relative {
    position: relative;
    display: flex;
    
}
.container-scroll img {
    width: 200px;
    right: 0;
    top: 0;
    z-index: -1;
}
    
/*discover*/
.container-discover h3 {
    font-weight: bold;
    padding-bottom: 20px;
}  
.container-discover a {
    text-decoration: none;
    color: black;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 30px;
    
}
.discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px
}
.container-discover{
    width: 400px;
    margin-right: 100px;
    text-align: center;
}
/*see more*/
.see-more a {
    text-decoration: none;
    color: green;
    margin-top: 2rem;
}  
/*footer*/
.footer a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    width: 350px;

}

    


    


    