/*HEADER*/
.header{
    padding: 1.5rem;
    background-color: #FFC017;
    border-bottom: 2px solid black;
}
.container-header{
    display: flex;
    justify-content: space-between;
    
}
.navbar {
    display: flex;
    align-items: center;    
    gap: 30px;
}
.navbar a {
    text-decoration: none;
    color: black;
} 
.button-black {
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
}  
/*MAIN TITLE*/
.conteiner-title {
    display: flex;
    justify-content: center;
    background-color: #FFC017;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
}
.title h1 {
    font-size: 110px;
    font-weight: 500;
}
.title p {
    font-size: 30px;
}
/*MAIN TRENDING*/
h2 {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 5.5rem;
    margin-bottom: 1.5rem;
}
.container-trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
.container-trending h2 {
    opacity: 0.2;
}
/*container all*/
.container-all {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.container-discover-see-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* container scroll*/
.container-scroll {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 5.5rem;
}
.container-scroll h3 {
    font-weight: bold;
    font-size: 25px;
}
.container-scroll p {
    font-size: 17px;
    opacity: 0.7;
}
.container-scroll a {
    text-decoration: none;
    color: black;
}
.position-relative {
    position: relative;
    display: flex;
    
}
.container-scroll img {
    width: 200px;
    
    right: 0;
    top: 0;
    z-index: -1;
    
    
}
    


    


    


    