/* ho lavorato dal sito a 1240 perche ho avuto problemi con il secondo schermo*/
body {
    font-family: "Roboto", sans-serif;;
}
/*HEADER*/
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    
}
.header{
    padding: 28px;
    background-color: #FFC017;
    border-bottom: 2px solid black;
    transition: background-color 1s, white 1s;
    
}

.container-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 3rem 0 3rem;
}
.navbar {
    display: flex;
    align-items: center;    
    gap: 30px;
}
.navbar a {
    text-decoration: none;
    color: black;
} 
.button-black {
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}  
/*MAIN TITLE*/
.conteiner-title {
    display: flex;
    justify-content: center;
    background-color: #FFC017;
    font-family:  "Spectral", serif;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    margin-left: 4rem
}
    
    
.title h2 {
    font-size: 130px;
    font-weight: 400;
    letter-spacing: -0.5rem;
    line-height: 95px;
}
.title p {
    font-size: 30px;
    padding-right: 207px;
}
.black {
    padding: 9px 58px;
    font-size: 20px;
}
/*MAIN TRENDING*/
.container-article{
    margin-left: 4rem;
    
}
.trending {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.container-trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  
}
 .container-trending img {
    border-radius: 30px;
    width: 20px;
}   
   
.numero {
    display: flex;
    align-items: baseline;
    gap: 20px;
    width: 360px;
    
}
   

.img-text {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center
}

.container-trending h2 {
    font-weight: bold;
    opacity: 0.1;
    font-size: 40px;
    text-align: center;
}
.container-trending a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding-left: 10px;
}
.container-trending h3{
    font-weight: bold;
    padding-top: 10px;
    
}
.container-trending p {
    opacity: 0.4;
    padding-top: 10px;
    
}

.tooltip{
    display: none;
    background-color: white;
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px  gray;
    z-index: 2;
    position: relative;
    
}


.tooltip::before {
    content: '';
    box-shadow: 1px 1px 1px 1px  gray;
    background-color: white;
    position: absolute;
    left: -8px;
    bottom: 100px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    z-index: 1;
  
}
.tooltip-wrap:hover .tooltip {
    display: block;
    position: absolute;
    right: -100%;
}
.tooltip-text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 20px;
    align-items: baseline;
}
.tooltip-text button {
    background-color: green;
    color: white;
}
.tooltip-text-img {
    display: flex;
    align-items: baseline;
}
/*container all*/
.container-all {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 100px;
}
.container-discover-see-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    position: sticky;
    height: fit-content;
    top: 130px;
    margin-left: 3rem;
}
/* container scroll*/
.container-scroll {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 2.5rem;
}
.container-scroll h3 {
    font-weight: bold;
    font-size: 25px;
}
.container-scroll p {
    font-size: 17px;
    opacity: 0.7;
}
.container-scroll a {
    text-decoration: none;
    color: black;
}
.position-relative {
    position: relative;
    display: flex;
    gap: 25px;
    width: 680px;
    
}
.container-scroll img {
    width: 35%;
    right: 0;
    top: 0;
}
.img-left img {
    border-radius: 30px;
    width: 25px;
}
.img-left p{
    padding-top: 8px;
}
    
    
/*discover*/
.container-discover h3 {
    font-weight: bold;
    padding-bottom: 20px;
}  
.container-discover a {
    text-decoration: none;
    color: black;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 30px;
    
}
.discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px
}
.container-discover{
    width: 400px;

}
/*see more*/
.see-more a {
    text-decoration: none;
    color: green;
    margin-top: 2rem;
}  
/*footer*/
.footer a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    width: 350px;
    margin-top: 45px;
}

    

